# **Workers List Using Mongodb**

In [ ]:
#required imports
import os
import json
import datetime
import pymongo
import pprint
import pandas as pd
import numpy as np
from pymongo import MongoClient
print('Mongo version', pymongo.__version__)

Mongo version 3.12.0

In [ ]:
client = MongoClient('localhost', 27017)
db = client.assignment1

In [ ]:
# Let's delete any existing collections in our database
db.workplace.drop()
db.address.drop()
db.employee.drop()

# Import our files into our three collections
with open('Data/Employee.json') as f:
    db.employee.insert_many(json.load(f))
with open('Data/Workplace.json') as f:
    db.workplace.insert_many(json.load(f))
with open('Data/Address.json') as f:
    db.address.insert_many(json.load(f))

#### The address collection contains employee from different ages and interests.  Perform a simple query to list all employees that are less than or equal to 50 and like Cooking.

In [ ]:
pprint.pprint(client.assignment1.employee.find_one())

{'_id': '9f39da36-82cc-4353-ab90-d616105fa7c1',
 'address_id': 'b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8',
 'age': 40,
 'email': 'ih@ri.ro',
 'firstname': 'Emilie',
 'interests': ['Bowling', 'Cooking', 'Golf', 'Swimming'],
 'lastname': 'Woods',
 'workplace_id': 'a32bf18d-e0e5-48f2-a851-aa49c80f9460'}

In [ ]:
cursor = db.employee.find({'age': {'$lte': 50}, 'interests': 'Cooking'})

# display results in a dataframe so that we can display results in a pretty table
pd.DataFrame(list(cursor))

,_id,firstname,lastname,age,email,interests,address_id,workplace_id
0,9f39da36-82cc-4353-ab90-d616105fa7c1,Emilie,Woods,40,ih@ri.ro,"[Bowling, Cooking, Golf, Swimming]",b6c0b50a-d0e3-43bf-a2a4-8d4674c2a7e8,a32bf18d-e0e5-48f2-a851-aa49c80f9460
1,af27265e-6639-49f2-991e-193275a4111a,Thomas,Patterson,18,sug@gon.bf,"[Cooking, Cricket, Tennis, Swimming, Fishing]",64fd714d-e219-4e45-888b-cc2238a8bd0b,5345fcb9-6297-4b9f-aa15-cbee8460f28f
2,00289d48-bad8-4b73-a359-a1a1f05c96e2,Sophia,Flores,22,ra@dupnejuk.nr,"[Hiking, Soccer, Bowling, Rubgy, Cooking, Danc...",8a430805-00b8-40a6-bd93-c950b544a83b,b12cd444-e65b-4bc2-8cf6-2dbe854a627b
3,da76e52b-b3db-4fc0-b0d6-435d1aed0cd9,Ollie,Barnett,25,ro@nemaw.et,"[Cooking, Bowling, Dancing]",5d3eacc4-d1d8-459b-973c-3bc71feacf50,cb795afb-8dc3-482f-b3a0-14229a280afa
4,51643cd6-49bb-45d5-bd6e-717c62bb2869,James,Wilkins,27,hutfardu@vicbiri.gb,"[Rubgy, Tennis, Cricket, Cooking]",3f10d9f7-57ef-40e1-a97d-d2ee53aa2c6e,cb795afb-8dc3-482f-b3a0-14229a280afa
5,f073a705-6546-4375-adb5-b224871776ef,Aaron,Carr,25,fekegim@lucul.tp,[Cooking],f4e59d7e-ea40-442d-87be-106e3c46a554,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
6,457ef68c-9651-4925-bca0-15e246661d19,Alta,Sharp,34,jus@goal.bn,"[Cricket, Cycling, Rubgy, Golf, Cooking, Dancing]",5e97658e-5809-41b8-a088-eddbd81f86a7,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
7,840184a3-4c4d-4b15-8813-30fca6e7827b,Delia,Douglas,36,me@wak.ne,"[Cricket, Cooking, Hiking, Dancing, Tennis]",456e18ae-c2f8-443e-899d-f2b893499695,b2a2844d-aeab-4602-b74c-01bf3b8e9c78
8,6157dc3b-ee2d-463a-b62b-1cd4eed7d575,Dominic,Wade,48,co@pog.nz,"[Cycling, Dancing, Cooking]",8d162eb9-eefc-4b7e-bcad-6fb7a02b15b0,cb795afb-8dc3-482f-b3a0-14229a280afa
9,cc3e389d-be0d-467a-ba70-7c84f6504911,Myrtle,Little,36,saj@far.zm,"[Cooking, Cycling, Hiking, Rubgy, Bowling, Dan...",0d3a90d5-11bd-4f96-91ba-7e7ef80888f0,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
10,c2bf0e3f-e3de-41de-b745-c5b70571dd3a,Jordan,Roberson,29,co@mahdo.ca,"[Swimming, Cooking]",7edd78a4-c4e6-484a-bf2f-ecad5c4c506b,cb795afb-8dc3-482f-b3a0-14229a280afa
11,4bc070ca-f849-4eeb-8ab2-98fe3c0861c0,Francis,Harris,38,pa@sodej.ck,"[Dancing, Swimming, Cooking, Bowling, Cycling]",fc607f68-81c8-4ca8-8a9e-30239ccae40f,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
12,66894dba-4ff0-4545-b7cc-eb6a5bd551c5,Clara,Butler,49,do@womjip.by,"[Soccer, Cooking, Cycling]",4dcebe6e-0787-4158-9744-3d721098cec4,50275ad1-8140-4e79-8818-21793e3eb0a3
13,581f59a2-ff4c-407e-b58f-e4f292208928,Rena,Johnson,33,vasberet@his.nz,"[Cycling, Swimming, Soccer, Cooking]",1cf24906-c700-41bb-a4c8-bba3c3ae30d9,2b87eb84-e5b4-4f2c-9e13-dc3ba20a7f7f
14,b2a2ae86-f4f6-4da5-ade6-ee1cd135daf3,Gavin,Conner,49,ah@jopah.uz,"[Rubgy, Cooking, Bowling]",ef5a17a2-6f11-49b8-a0fd-e0bddc56f185,50275ad1-8140-4e79-8818-21793e3eb0a3
15,2bfc0479-cb15-46e1-94fa-801404791b21,Peter,Jimenez,37,usope@tega.bh,"[Cooking, Swimming, Cricket]",77ce0c50-afd6-47e8-86d7-b1b372e8deb2,cb795afb-8dc3-482f-b3a0-14229a280afa

#### Insert a new Employee with the following properties:

* First Name: Jake
* Last Name: Sample
* Email: jakesample@email.com
* Age: 26
* Interest: Biking, Hiking

Also, this employee works for 'Union Planters Corp' and lives at '573 Wojhas Square, Victoria'.
Verify that the insert succeeded and display the generated employees _id attribute.

In [ ]:
js_address = db.address.find_one({'address': '573 Wojhas Square', 'city': 'Victoria'})
js_address

{'_id': '91b5b7b3-2309-4e8a-8247-cd66d626ef0c',
 'address': '573 Wojhas Square',
 'postalcode': 'A7D 5A3',
 'city': 'Victoria',
 'province': 'BC'}

In [ ]:
js_workplace = db.workplace.find_one({'name': 'Union Planters Corp'})
js_workplace

{'_id': '5345fcb9-6297-4b9f-aa15-cbee8460f28f',
 'name': 'Union Planters Corp',
 'website': 'http://www.unionplanternscorp.com',
 'industry': 'Aerospace',
 'address_id': '9949fe3b-99ec-4485-b91d-823925db7d28'}

In [ ]:
employee_id = db.employee.insert_one({
    'firstname': 'Jake',
    'lastname': 'Sample',
    'email': 'jakesample@email.com',
    'age': 26,
    'interests': ['Biking', 'Hiking'],
    'address_id': js_address['_id'],
    'workplace_id': js_workplace['_id']
})

In [ ]:
js = db.employee.find({'firstname': 'Jake'})

# display results in a dataframe so that we can display results in a pretty table
pd.DataFrame(js)

,_id,firstname,lastname,email,age,interests,address_id,workplace_id
0,6535c6f6bfa53713eba08739,Jake,Sample,jakesample@email.com,26,"[Biking, Hiking]",91b5b7b3-2309-4e8a-8247-cd66d626ef0c,5345fcb9-6297-4b9f-aa15-cbee8460f28f

## Delete all employees that work for 'Great Plains Energy Inc.' and are greater than 46 years old and likes 'Tennis'. Once delete the employees verify the number of employees deleted.

In [ ]:
gpe_id = db.workplace.find_one({'name': 'Great Plains Energy Inc.'})['_id']
gpe_id
# List the data
pd.DataFrame(list(db.employee.find({'workplace_id':gpe_id, 'age':{'$gt':46}, 'interests': 'Tennis'})))

,_id,firstname,lastname,age,email,interests,address_id,workplace_id
0,153ba346-b33d-4611-802c-fd95c7cb078c,Adelaide,Curry,71,ov@sutec.mr,[Tennis],8264af1e-1c55-4ed8-96f9-e3b9e1eff7d5,a32bf18d-e0e5-48f2-a851-aa49c80f9460
1,8e082f05-13b7-485d-89c4-259f1103f95c,Lester,Summers,48,wi@uvafej.pt,"[Bowling, Tennis]",62996de2-fcda-4894-95d5-fef0d11d92f4,a32bf18d-e0e5-48f2-a851-aa49c80f9460
2,dfce1d98-15f6-4b75-86f6-cd5d05cfdc04,Sadie,Park,80,vukhik@wejoce.nf,"[Golf, Fishing, Bowling, Dancing, Cooking, Ten...",2987cea4-b71d-4338-b0ef-a9b5feb3a138,a32bf18d-e0e5-48f2-a851-aa49c80f9460
3,86417f71-18cd-41c5-ad01-24b31ff2074f,Lucy,May,65,bi@udtaofe.tj,[Tennis],fe80c95a-a0e9-42c9-aa6a-56f27020842d,a32bf18d-e0e5-48f2-a851-aa49c80f9460

In [ ]:
# Delete
delete_result = db.employee.delete_many({'workplace_id':gpe_id, 'age':{'$gt':46}, 'interests': 'Tennis'})

In [ ]:
# Verify
print("Delete Acknowledged:" + str(delete_result.acknowledged))
print("Delete Count:" + str(delete_result.deleted_count))

Delete Acknowledged:True
Delete Count:4

In [ ]:
# Check
pd.DataFrame(list(db.employee.find({'workplace_id':gpe_id, 'age':{'$gt':46}, 'interests': 'Tennis'})))

Empty DataFrame
Columns: []
Index: []

## Add a new field called 'industry' to all employees that work for 'Health Net Inc.' and populate the field with the value 'Health Care'.

In [ ]:
hn_id = db.workplace.find_one({'name': 'Health Net Inc.'})['_id']
hn_id

'a222385c-342c-43ea-adbc-9b487a2ee2be'

In [ ]:
update_result = db.employee.update_many(
      { "workplace_id" : hn_id },
      { "$set": { "industry" : "Health Care" } }
);

In [ ]:
# Verify
print("Update Acknowledged:" + str(update_result.acknowledged))
print("Modified Count:" + str(update_result.modified_count))

Update Acknowledged:True
Modified Count:14

In [ ]:
# List the modified data
pd.DataFrame(list(db.employee.find({ "workplace_id" : hn_id })))

,_id,firstname,lastname,age,email,interests,address_id,workplace_id,industry
0,ad4fd8bd-b732-4388-8469-5395b497df63,Marc,Castro,42,tasnimnag@tefifdum.bo,"[Golf, Cricket, Rubgy, Hiking, Fishing, Dancing]",91b32548-65b6-4fd9-91a1-2d86b04b8eea,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
1,6222b4f5-6fd3-4c72-b058-710fb568b869,Lucinda,Gomez,46,ruupeke@oh.om,"[Golf, Rubgy, Tennis]",59516270-19f4-47e8-95ae-3e83fa5f230c,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
2,ca189ae9-d04b-4ae0-9b4a-b725196c31d2,Emilie,Robertson,37,vom@calfim.se,[Hiking],16ff1778-b687-42ef-aace-36cedc05f521,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
3,ed499274-f17f-4a4c-8327-7e740e6dd9c1,Josephine,Mills,36,newi@to.in,"[Tennis, Bowling, Cricket]",01185f9b-b00f-4f2d-9878-0c989fe00fbc,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
4,6a3bd505-56e6-46ec-bef1-2eef1fd3643c,Vernon,Edwards,24,disbuivi@efu.id,[Soccer],a8f07070-cfb0-483e-a07a-b2adf9e3d4b0,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
5,5b8bb404-5741-46a9-84f2-81248ffd2840,Glen,Turner,43,kazvasi@nojrek.aq,"[Golf, Hiking]",fc2b6b58-8392-4f3d-b1c8-07f4df87dc24,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
6,c7cf8650-f391-4f2b-bbb5-60225729e998,Jeremiah,Payne,49,himosewej@repan.bw,"[Cricket, Fishing]",44cc24b9-1d60-45cf-be0d-a225f35d52ab,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
7,9ebcf9fc-e193-4ab7-9c38-10c2d6bf6036,Alan,Berry,76,zut@zoksa.kw,"[Bowling, Cooking, Rubgy, Fishing, Golf, Cricket]",d34f9d8c-c1a0-4653-8a44-d2fe65714956,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
8,fd677b4b-6eef-4777-bc3a-25d9a86134fa,Mattie,Fisher,37,pelohno@hotivgu.hn,"[Cycling, Fishing, Soccer, Rubgy, Hiking]",98fa15f0-5b73-4fb9-a5a4-1332e0f5b58b,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
9,cb369c19-4bbc-449f-bff6-b198439d0d7b,Adele,Benson,43,oka@lilozfaz.gn,"[Swimming, Hiking, Tennis]",d5b7473d-c82b-4956-bce3-80497ce6c015,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
10,8c4b8dc8-2ecc-46e8-8653-d126f1810c33,Cory,Beck,27,rekasbe@vewusezi.an,"[Fishing, Cricket, Hiking]",592fa227-312d-4a80-8eb2-c4e26493da69,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
11,9fd3a190-1991-4ce1-924b-de4701020022,Jacob,Austin,50,imnampe@ca.pt,[Dancing],2d6b7fb9-fe27-4573-8ef6-56ba4b79e038,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
12,c6d0eebd-ddf2-41ed-a20f-76274c5c8343,Tony,Paul,72,zolo@dacelva.dz,"[Cooking, Rubgy]",68d28d57-8cac-4388-8485-976518a6d817,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care
13,e9e7ee3e-90da-4474-b6a7-f256e4915245,Jorge,Day,57,ar@gab.gov,[Cooking],5bbc3eb4-01cf-43c2-85bd-346f786adfee,a222385c-342c-43ea-adbc-9b487a2ee2be,Health Care

## Create an aggregate query to count the number of employees for each company and sort the output from largest employee count to lowest employee count.

In [ ]:
# YOUR CODE HERE
pipeline = [
    {
        "$lookup": {
            "from": "workplace",
            "localField": "workplace_id",
            "foreignField": "_id",
            "as": "workplace"
        }
    },
    {
        "$group": {
            "_id": "$workplace.name",
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {"count": -1}
    }
]

query_result = db.employee.aggregate(pipeline)

pd.DataFrame(list(query_result))

                                     _id  count
0                     [Hilton Solutions]     15
1                      [Health Net Inc.]     14
2                           [Aetna Inc.]     13
3              [Bell Microproducts Inc.]     11
4                  [Union Planters Corp]     10
5       [Equity Office Properties Trust]     10
6  [Equity Residential Properties Trust]      7
7                        [Xcel Bear Inc]      6
8                          [Kemet Corp.]      6
9             [Great Plains Energy Inc.]      5